html, body
{
    height: 100%;
}

html 
{
    display: table;
    margin: auto;
}

body 
{
	display: table-cell;
    vertical-align: middle;
}

table, tr, td 
{
   border: 3px inset Blue;
   font-weight: bold;
}

td 
{
    text-align: center;
} 